*{
    padding: 0;
    margin: 0;
}
.container {
	width: 1023px;
	height: 978px;
	border: 2px solid black;
	margin: 20px auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}

/* header section start  */
.header-section {
	border-bottom: 2px solid #000;
	height: 107px;
}
.logo{
    float: left;
    width: 30%;
}
.logo img {
	width: 85px;
	height: auto;
	margin: 20px;
    cursor: pointer;
}

.menu{
    float: right;
    width: 70%;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
    
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 104px;
    color: #000;
    background: #e67e22;
    border-radius: 5px;
    margin-right: 20px;
    transition: .5s;


}
.menu ul li a:hover{
    background-color: #e74c3c;
    color: #fff;
}
/* header section end  */

/* slider section  start  */
.slider-section{
    background: url(./julian-steenbergen-Ng1gfnickSo-unsplash.jpg) no-repeat center center/cover;
    padding: 200px 0;
}
.slider-text {
	text-align: center;
	color: #fff;
	background: rgba(243, 156, 18, .6);	
	width: 50%;
	margin: auto;
    border-radius: 5px;
}
/* slider section  end */

/* profile section start  */
.profile-section{
    margin: 20px 0;
}
.profile-left{
    width: 60%;
    float: left;
}
.profile-left .profile-pic img{
    width: 200px;
    float: left;
    padding-right: 10px;
}
.profile-left h1{
    margin-bottom: 10px;
}
.profile-right{
    width: 40%;
    float: right;

}
.profile-right-text {
	padding-left: 84px;
}
.profile-right-text h2{
    margin-bottom: 10px;
}
.profile-right-text ul{

}
.profile-right-text ul li{
    background-color: rgb(26, 188, 156);
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 10px;
    font-size: 18px;
    border-radius: 5px;
}
/* profile section end */

.footer{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}